.search {
  width: 100%;
  z-index: 10;
  left: 0px;
}

.search input {
  padding: 0.5rem;
  font-size: 1.5rem;
  opacity: 1;
  width: 100%;
  border-color: #603bbb;
}

.locate {
  position: relative;
  background: none;
  border: none;
  z-index: 10;
}
.locate img {
  width: 48px;
  cursor: pointer;
  right: 50px;
}

h1 {
  color: #603bbb;
  opacity: 1;
}
